<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static',filename='style/AboutUs.css')}}">
	<title>About Us</title>
</head>

<body>
	<!-- <header>
		<nav>
			<div class="logo">
			Smart Agriculture System
			</div>
			<ul class="nav-links">
				<li><a href="#">
				Home</a>
				</li>
				<li><a href="#">
				About</a>
				</li>
				<li><a href="#">
				Services</a>
				</li>
				<li><a href="#">
				Contact</a>
				</li>
			</ul>
		</nav>
	</header> -->

	<section class="about">
		<h1>About Us</h1>
		<p style="font-weight: bold">
			Welcome to Smart Agriculture System...
		</p>
		<div class="about-info">
			<div class="about-img">
				<img src="https://www.cropin.com/hs-fs/hubfs/cropin_2021/other-resource/automation-and-robotics.jpg"
					alt="Smart Agricuture System">
			</div>
			<div>
				<p> Smart Agriculture System provides data-driven approach
					to farming, enabling farmers to make informed decisions,
					reduce wastage, and enhance overall efficiency. The need
					for such a system arises from the increasing demand for
					food production, coupled with the cahllenges posed by
					climate change and depleting natural resources.
					Traditional farming methods face limitations.
					Here, sensors collect the data. Arduino Uno acts as
					the central processing unit. The collected data is
					then transmitted to a real-time analyser. The insights
					derived are then sent to dashboard.
				</p>

			</div>
		</div>
	</section>

	<section class="team">
		<h1>Meet Our Team</h1>
		<div class="team-cards">

			<!-- Cards here -->
			<!-- Card 1 -->

			<div class="card">
				<div class="card-img">
					<img src="https://www.cropin.com/hs-fs/hubfs/cropin_2021/other-resource/automation-and-robotics.jpg"
						alt="User 1">
				</div>
				<div class="card-info">
					<h2 class="card-name">Om Gajbhiye</h2>

					<p class="card-email">omgajbhiye2@gmail.com</p>

				</div>
			</div>

			<!-- Card 2 -->

			<div class="card">
				<div class="card-img">
					<img src="https://www.cropin.com/hs-fs/hubfs/cropin_2021/other-resource/automation-and-robotics.jpg"
						alt="User 2">
				</div>
				<div class="card-info">
					<h2 class="card-name">Anuja Ingle</h2>

					<p class="card-email">anujaingle272@gmail.com</p>

				</div>
			</div>

			<!-- Card 3 -->

			<div class="card">
				<div class="card-img">
					<img src="https://www.cropin.com/hs-fs/hubfs/cropin_2021/other-resource/automation-and-robotics.jpg"
						alt="User 2">
				</div>
				<div class="card-info">
					<h2 class="card-name">Manik Bodamwad</h2>

					<p class="card-email">bodamwadm@gmail.com</p>

				</div>
			</div>

			<!-- Card 4 -->

			<div class="card">
				<div class="card-img">
					<img src="https://www.cropin.com/hs-fs/hubfs/cropin_2021/other-resource/automation-and-robotics.jpg"
						alt="User 2">
				</div>
				<div class="card-info">
					<h2 class="card-name">Esha Jain</h2>

					<p class="card-email">esha07jain@gmail.com</p>

				</div>
			</div>

			<!-- Card 5 -->

			<div class="card">
				<div class="card-img">
					<img src="https://www.cropin.com/hs-fs/hubfs/cropin_2021/other-resource/automation-and-robotics.jpg"
						alt="User 3">
				</div>
				<div class="card-info">
					<h2 class="card-name">Gauri Dumbre</h2>

					<p class="card-email">gauridumbre99@gmail.com</p>

				</div>
			</div>
		</div>
	</section>

	<footer>
		<p>Thanks for visiting Smart Agriculture System!</p>
	</footer>
</body>

</html>